In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
#Définir un objet Series comprenant la population de 5 pays 
ser1=Series([70,300,8,45,80],index=["France","USA","Suisse","Espagne","Allemagne"])
ser1

#puis afficher les pays ayant une population > 50’000’000.
ser1[ser1>50]

True

In [9]:
ser2=Series([70,300,35],index=["France","USA","Italie"])

In [10]:
#ajout de series
ser1+ser2

Allemagne      NaN
Espagne        NaN
France       140.0
Italie         NaN
Suisse         NaN
USA          600.0
dtype: float64

In [14]:
#ajout de series avec une valeur de 0 pour les manquants
ser1.add(ser2,fill_value=0)

Allemagne     80.0
Espagne       45.0
France       140.0
Italie        35.0
Suisse         8.0
USA          600.0
dtype: float64

In [19]:
ser1.name="Populations"
ser1.index.name="Pays"
ser1

Pays
France        70
USA          300
Suisse         8
Espagne       45
Allemagne     80
Name: Populations, dtype: int64

In [22]:
#Construire un dictionnaire avec des produits et des prix 
dict1={"Produits":["Tomate","Cerises","Pommes", "Courgettes"],"Prix":[3,8,2.5,1.8]}
dict1

#puis afficher la DataFrame obtenue en transformant ce dictionnaire
frame1=DataFrame(dict1)
frame1

   Prix    Produits
0   3.0      Tomate
1   8.0     Cerises
2   2.5      Pommes
3   1.8  Courgettes

In [23]:
#ouverture d'une page web
import webbrowser
url="https://en.wikipedia.org/wiki/List_of_all-time_NBA_win-loss_records"
webbrowser.open(url)

True

In [24]:
#récupération depuis le presse papier
frameNBA=pd.read_clipboard()

In [28]:
#importation depuis un csv
frameNBA=pd.read_csv("NBA1.csv", sep=";")

In [30]:
#info sur les variables
frameNBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
Rank                30 non-null int64
Team                30 non-null object
Won                 30 non-null object
Lost                30 non-null object
Pct.                30 non-null float64
First NBA Season    30 non-null object
Total Games         30 non-null object
Division            30 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.9+ KB

In [31]:
frameNBA.head()

,Rank,Team,Won,Lost,Pct.,First NBA Season,Total Games,Division
0,1,San Antonio Spurs,"2,006","1,226",0.621,1976?77,"3,232",Southwest
1,2,Los Angeles Lakers,"3,235","2,134",0.603,1948?49,"5,369",Pacific
2,3,Boston Celtics,"3,221","2,257",0.588,1946?47,"5,478",Atlantic
3,4,Phoenix Suns,"2,122","1,766",0.546,1968?69,"3,888",Pacific
4,5,Oklahoma City Thunder,"2,139","1,831",0.539,1967?68,"3,97",Northwest

In [48]:
#préparation des données (nettoyage)
varname=["Won","Lost","Total Games"]
for name in varname:
    frameNBA[name]=frameNBA[name].str.replace(",","")
    frameNBA[name]=pd.to_numeric(frameNBA[name])

In [55]:
#résumé de toutes les variables (quanti et quali)
frameNBA.describe(include="all")

,Rank,Team,Won,Lost,Pct.,First NBA Season,Total Games,Division
count,30.000000,30,30.000000,30.000000,30.000000,30,30.000000,30
unique,NaN,30,NaN,NaN,NaN,15,NaN,6
top,NaN,Denver Nuggets,NaN,NaN,NaN,1976?77,NaN,Southwest
freq,NaN,1,NaN,NaN,NaN,4,NaN,5
mean,15.500000,NaN,1619.866667,1843.833333,0.494000,NaN,3458.600000,NaN
std,8.803408,NaN,895.784870,632.949804,0.056163,NaN,1549.510637,NaN
min,1.000000,NaN,117.000000,604.000000,0.391000,NaN,397.000000,NaN
25%,8.250000,NaN,864.250000,1344.750000,0.460250,NaN,2186.500000,NaN
50%,15.500000,NaN,1771.500000,1851.500000,0.495000,NaN,3560.000000,NaN
75%,22.750000,NaN,2120.250000,2256.500000,0.521500,NaN,5090.750000,NaN
max,30.000000,NaN,3235.000000,2905.000000,0.621000,NaN,5478.000000,NaN

In [62]:
#tri à deux clés
frameNBA=frameNBA.sort(columns=["Division","Pct."],ascending=False)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Rank,Team,Won,Lost,Pct.,First NBA Season,Total Games,Division
0,1,San Antonio Spurs,2006,1226,0.621,1976?77,3232,Southwest
9,10,Houston Rockets,2052,1918,0.517,1967?68,397,Southwest
11,12,Dallas Mavericks,1482,1422,0.510,1980?81,2904,Southwest
20,21,New Orleans Pelicans,528,604,0.466,2002?03,1132,Southwest
27,28,Memphis Grizzlies,694,980,0.415,1995?96,1674,Southwest
8,9,Miami Heat,117,1078,0.520,1988?89,2248,Southeast
13,14,Atlanta Hawks,265,2656,0.499,1949?50,5306,Southeast
16,17,Orlando Magic,1062,1104,0.490,1989?90,2166,Southeast
23,24,Washington Wizards,2004,2447,0.450,1961?62,4451,Southeast
24,25,Charlotte Hornets,916,1168,0.440,1988?89,2084,Southeast
1,2,Los Angeles Lakers,3235,2134,0.603,1948?49,5369,Pacific
3,4,Phoenix Suns,2122,1766,0.546,1968?69,3888,Pacific
19,20,Golden State Warriors,259,2884,0.473,1946?47,5474,Pacific
22,23,Sacramento Kings,2464,2905,0.459,1948?49,5369,Pacific
28,29,Los Angeles Clippers,1469,2255,0.394,1970?71,3724,Pacific
4,5,Oklahoma City Thunder,2139,1831,0.539,1967?68,397,Northwest
5,6,Portland Trail Blazers,1991,1733,0.535,1970?71,3724,Northwest
6,7,Utah Jazz,1815,1581,0.534,1974?75,3396,Northwest
18,19,Denver Nuggets,1563,1669,0.484,1976?77,3232,Northwest
29,30,Minnesota Timberwolves,847,1319,0.391,1989?90,2166,Northwest
7,8,Chicago Bulls,2115,1936,0.522,1966?67,4051,Central
12,13,Milwaukee Bucks,1983,1905,0.510,1968?69,3888,Central
14,15,Indiana Pacers,1606,1625,0.497,1976?77,3231,Central
17,18,Detroit Pistons,2616,2752,0.487,1948?49,5368,Central
21,22,Cleveland Cavaliers,1728,1996,0.464,1970?71,3724,Central
2,3,Boston Celtics,3221,2257,0.588,1946?47,5478,Atlantic
10,11,Philadelphia 76ers,2726,2578,0.514,1949?50,5304,Atlantic
15,16,New York Knicks,2701,2774,0.493,1946?47,5475,Atlantic
25,26,Toronto Raptors,734,940,0.438,1995?96,1674,Atlantic
26,27,Brooklyn Nets,136,1872,0.421,1976?77,3232,Atlantic

In [64]:
#matrice de corrélation NBA
frameNBA.corr()

                 Rank       Won      Lost      Pct.  Total Games
Rank         1.000000 -0.530043 -0.065044 -0.969359    -0.152724
Won         -0.530043  1.000000  0.460404  0.561834     0.438219
Lost        -0.065044  0.460404  1.000000  0.074978     0.793153
Pct.        -0.969359  0.561834  0.074978  1.000000     0.219929
Total Games -0.152724  0.438219  0.793153  0.219929     1.000000

In [83]:
#importer demo-ventes.csv
frameVentes=pd.read_csv("demo_ventes.csv",sep=";")

In [71]:
#Importez un fichier Excel depuis python. On utilisera demo_excel.xlsx
frameExcel=pd.ExcelFile("excel-data.xlsx")
frameExcel.sheet_names
frameExcel=frameExcel.parse('sheet1')

In [72]:
frameExcel.head()

,account,name,street,city,state,postal-code
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681

In [73]:
#jointure des deux dataframes
frameComplet=pd.merge(frameExcel,frameVentes,on="account",how='inner')
frameComplet.head()

,account,name,street,city,state,postal-code,Jan,Feb,Mar
0,211829,"Kerluke, Koepp and Hilpert",34456 Sean Highway,New Jaycob,Texas,28752,10000,62000,35000
1,320563,Walter-Trantow,1311 Alvis Tunnel,Port Khadijah,NorthCarolina,38365,95000,45000,35000
2,648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa,76517,91000,120000,35000
3,109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine,46021,45000,120000,10000
4,121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California,49681,162000,120000,35000

In [135]:
#concatener les données excel et les données ventes
frameComplet2=pd.concat([frameVentes,frameExcel],axis=1)

In [77]:
#Créez un DataFrame avec comme variables 4 villes de différents pays et leur population.
frame5=DataFrame({"Ville":["Paris","Londres","Lyon","Berlin"],"Pop":[6,8,2,3]})
DicoPays={"Paris":"France","Londres":"GB","Lyon":"France","Berlin":"Allemagne"}

In [80]:
frame5["Pays"]=frame5["Ville"].map(DicoPays)

In [85]:
#discrétisation de la variable jan
frameVentes.columns

Index([u'account', u'Jan', u'Feb', u'Mar'], dtype='object')

In [101]:
#discrétisation sur mesure
frameVentes["Jan-disc"]=pd.cut(frameVentes["Jan"],[frameVentes.Jan.min(),30000,150000,
                                                   frameVentes.Jan.max()],include_lowest=True)

In [102]:
pd.value_counts(frameVentes["Jan-disc"])

(30000, 150000]     12
(150000, 162000]     2
[10000, 30000]       1
Name: Jan-disc, dtype: int64

In [103]:
#discrétisation avec fréquences égales
frameVentes["Jan3"]=pd.qcut(frameVentes["Jan"],3)

In [105]:
pd.value_counts(frameVentes.Jan3)

(146666.667, 162000]       5
(67333.333, 146666.667]    5
[10000, 67333.333]         5
Name: Jan3, dtype: int64

In [107]:
#Permutez les éléments du dataframe ventes
permut=np.random.permutation(frameVentes.index)
permut
frameVentesPermut=frameVentes.take(permut)

In [109]:
#utilisation du groupby
#=frame.groupby("var")
grouperNBA=frameNBA.groupby("Division")

In [116]:
grouperNBA.describe()
grouperNBA.mean()
grouperNBA.agg("std")

                Rank          Won        Lost      Pct.  Total Games
Division
Atlantic   10.163661  1372.962600  725.214589  0.066428  1716.836568
Central     5.263079   394.249033  421.339175  0.022237   796.928039
Northwest  10.876580   508.133841  194.676141  0.063208  1354.302034
Pacific    11.970798  1121.134113  495.578147  0.081003   878.225882
Southeast   6.760178   751.320637  790.035949  0.033767  1517.246519
Southwest  10.406729   715.289312  491.070260  0.076228  1191.319101

In [133]:
#Créez un objet Series et ajoutez des dates partant du 3 décembre 2015 
#par jour jusqu’à aujourd’hui.
#generation des données
ser3=Series(np.random.randn(100))
#génération des dates
date=pd.date_range("20151203",periods=100,freq='D')
#association des dates aux données
ser3.index=date

In [134]:
ser3

2015-12-03    1.553132
2015-12-04    1.206422
2015-12-05   -0.008008
2015-12-06    1.903628
2015-12-07    0.007218
2015-12-08   -0.422825
2015-12-09   -0.533050
2015-12-10    0.602060
2015-12-11   -0.503094
2015-12-12   -0.118028
2015-12-13   -0.013994
2015-12-14    2.230208
2015-12-15    0.094135
2015-12-16    0.166114
2015-12-17   -0.419523
2015-12-18   -0.527626
2015-12-19    0.716018
2015-12-20   -0.833614
2015-12-21    0.637442
2015-12-22    0.499270
2015-12-23    0.198252
2015-12-24   -0.859054
2015-12-25    1.814778
2015-12-26   -1.676340
2015-12-27    0.369972
2015-12-28    1.618688
2015-12-29   -0.977083
2015-12-30   -0.481010
2015-12-31    2.506789
2016-01-01   -0.458891
                ...
2016-02-11    0.577597
2016-02-12   -0.767440
2016-02-13   -0.283420
2016-02-14   -0.272449
2016-02-15    2.384007
2016-02-16    0.314617
2016-02-17    2.209855
2016-02-18    0.520040
2016-02-19    0.204412
2016-02-20   -0.922847
2016-02-21   -0.699625
2016-02-22   -1.016299
2016-02-23    0.112439
2016-02-24   -0.014268
2016-02-25    0.679290
2016-02-26    1.547724
2016-02-27    1.033191
2016-02-28   -0.111434
2016-02-29   -0.929035
2016-03-01    0.915966
2016-03-02   -1.357188
2016-03-03   -0.104260
2016-03-04    1.044435
2016-03-05    0.515409
2016-03-06   -0.202357
2016-03-07   -0.023941
2016-03-08    1.488558
2016-03-09    0.318268
2016-03-10    1.116030
2016-03-11    0.460018
Freq: D, dtype: float64