# Premiers pas en python

In [28]:
#Définir quatre variables distinctes, un entier, un float, 
#un booléen et une chaîne de caractère et affichez-les dans la console.
a=2
b=3.4
c=True
d="python"
a
print type(a), type(b),type(c),type(d)

<type 'int'> <type 'float'> <type 'bool'> <type 'str'>

In [29]:
len(d)

6

In [30]:
#Définir une variable comprenant la chaîne ‘Python pour la Science’, 
#utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’
str1="Python pour la Science"
str2=str1.upper()
print str2[:14], 'DATA', str2[15:]

PYTHON POUR LA DATA SCIENCE

In [31]:
str1= "Python pour la %s science et la %s" % ("data", "DADA")
str1

'Python pour la data science et la DADA'

In [32]:
#Créez une fonction avec un booléen en entrée qui affiche une valeur 
#différente en fonction du booléen entré.
def fonc1(b1):
    if b1==True:
        print 22
    else:
        print 33

        
fonc1(True)

22

In [33]:
#Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à 
#une variable à chaque boucle
x=0
for i in range(6):
    x+=1

print x
# x+=1 est equivalent à x=x+1
# x*=2 est équivalent à x= 2*x

6

In [34]:
#Créer une suite de commande, qui demande l’entrée d’un nombre, 
#multipliez ce nombre par deux et affichez-le en sortie.

nb1=input("Entrez un nombre :")
print nb1*2

Entrez un nombre :88
176

In [35]:
#Créez une liste composée de 5 éléments, affichez la longueur de la liste.
list1=[3,5,7,8,9]
len(list1)

5

In [39]:
#Modifiez la dernière valeur de la liste et 
#construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.
list1[4]=33

list2=list1[-3:]
list2

[7, 8, 33]

In [40]:
#Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre 
#éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  
#Affichez la chaîne de caractère obtenue.
str1="Vive la data science"
list3=str1.split(" ")
list3

['Vive', 'la', 'data', 'science']

In [43]:
list4=list3 + ['et', 'python']
str2=" ".join(list4)
str2

'Vive la data science et python'

In [45]:
#Construire une fonction prenant en entrée deux listes et 
#qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)
def fonc_moy(list1,list2):
    moy=0.0
    for val in list1+list2:
        moy+=val
    return moy/float(len(list1+list2))

fonc_moy([1,3,5],[2,4.5])

3.1

In [46]:
#Construire une fonction prenant en entrée deux listes et qui affiche la phrase :
#‘La moyenne des éléments des listes liste1 et liste2 est de valeur_moyenne’
def affiche_moy(list1, list2):
    print "La moyenne des elements des listes %s et %s est de %s" %(list1, list2,
                                                                   fonc_moy(list1,list2))
    

affiche_moy([1,3,5],[2,4.5])

La moyenne des elements des listes [1, 3, 5] et [2, 4.5] est de 3.1